

<ion-content class="ion-padding">
  <h2 style="text-align: center;">My Profile</h2>
 <ion-card>
  <ion-card-content>
    <ion-avatar (click)="changeImage()">
      <img *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl']"/>
      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>
  <h2 style="text-align: center;">{{user?.userName}}</h2>
  <p style="text-align: center;">"Motivotional quote here"</p>
  <div class="hr"> </div>
    <ion-icon name="trophy-outline"></ion-icon>
  <p style="text-align: center;">Tasks completed</p>
  <div class="hr"> </div>
  
 <p style="text-align: center;">Give feedback for To-Do List Creator <a [routerLink]="['/feedback']">Here!</a></p>
  <ion-button type="submit" expand="block" shape="round" (click)="logout()">logout
</ion-button>
</ion-card-content>

 </ion-card>
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
 <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</ion-content>
