<ion-content class="ion-padding">
  <div class="upper background-container">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </div>
  <ion-card>
    <ion-card-content>
      <form #registerForm="ngForm">
        <ion-item class="input-box">
          <ion-label position="floating">
            Name
          </ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item class="input-box">
          <ion-label position="floating">Email</ion-label>
          <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
          <ion-icon class="ion-align-self-center"
                    slot="end"
                    name="mail"></ion-icon>
        </ion-item>
        <ion-item class="input-box">
          <ion-label position="floating">Password</ion-label>
          <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="eye-outline" (click) ="changeType()"></ion-icon>
        </ion-item>

        <div class="btn">
          <ion-button type="submit" expand="block" shape="round" (click)="register()"
          [disabled]="registerForm.invalid">Register
        </ion-button>
        </div>
      </form>
    </ion-card-content>
    </ion-card>
</ion-content>

