ion-content{
    --background: 
url('../../assets/img/todotaustakuva.jpg') no-repeat center/cover;
}


/* ion-content {
    --ion-background-color: #fff;
    min-height: 100%;
 
 
     .background-container {
 
         height: 100vh;
         width: 100%;
         display: flex;
         background: url('../../assets/img/todotaustakuva.jpg');
         background-size: cover;
         background-position: 50%;
         
       } */
       ion-card {
        background: rgba(255,255,255,0.5);
    }
        #login {
            text-align: center;
            font-size: 60px;
            font-family: pacifico;
        }
  

            .btn{

                ion-button{
                    --background:violet;
                }
            }
        
    
