ion-content{
    --background: 
url('../../assets/img/todotaustakuva.jpg') no-repeat center/cover;
}


/* ion-content {
    --ion-background-color: #fff;
    min-height: 100%;
 
 
     .background-container {
 
         height: 100vh;
         width: 100%;
         display: flex;
         background: url('../../assets/img/todotaustakuva.jpg');
         background-size: cover;
         background-position: 50%;
         
       } */

    .upper{
        width: 100%;
        height: 200px;
       

        #login {
            text-align: center;
            font-size: 60px;
        }
    }
    .middle {


        .box{
            border-radius: 10px;
            background: rgb(179, 106, 236);
            padding: 20px;
            opacity: 0,5;
            

            p{
                text-align: center;
            }
            .input-box{
                border-radius: 13px;
                height: 60%;
                width: 100%;
            }

            .btn{

                ion-button{
                    --background:violet;
                }
            }
        }
    }
