
<ion-content class="ion-padding">
    <ion-grid>
      <ion-row justify-content-around>
        <ion-col>
              <ion-icon type="button" class="backbutton" name="arrow-back" (click)="backButton()"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>
    <ion-avatar type="button" (click)="gotoprofile()">
      <img *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl']"/>
      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>
  </ion-col>
  </ion-row>
  </ion-grid>
<div>
  <h3 id="header" style="text-align: center;">Give us Feedback</h3>
  <p id="message" style="text-align: center;">Your feedback is important for us, thank you for helping us improve our app!</p>
</div>
<form #feedbackForm="ngForm">
  <ion-textarea placeholder="Type here..." type="text" id="textbox"></ion-textarea>
    <ion-button class="submitbtn" expand="block" shape="round" (click)="sendFeedback()">Submit</ion-button>
</form>
</ion-content>
