ion-content{
    --background: 
url('../../assets/img/todotaustakuva.jpg') no-repeat center/cover;
}
ion-avatar {
    width: 64px;
    height: 64px;
  }
  
  .preview {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .fallback {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #bfbfbf;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 500;
  }

#textbox {
    border-radius: 20px;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-right: 25px;
    background-color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25); 
    padding: 15px;
    font-size: 20px; 
}
#header {
    color: #222222;
    margin-top: 150px;
    font-size: 40px;
    font-family: pacifico;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
#message {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
ion-button{
  --background: rgba(155, 115, 224, 1);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: black;
  font-size: 23px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}