

#textbox {
    border: 1px solid;
    border-radius: 10px;
    height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
}
#header {
    margin-top: 60px;
    font-size: 60px;
}
#message {
    font-size: 20px;
}